---
id: ValidationResult
title: ValidationResult
sidebar_label: ValidationResult
---



### Properties

<font size="2"><i>(Mandatory properties are in bold)</i></font>

| Properties | Type | Description |
| --------- | ---- | ----------- |
| **valid** | boolean |  |
| message | string |  |
