---
id: "ValidationResult"
title: "Type alias: ValidationResult"
sidebar_label: "ValidationResult"
sidebar_position: 0
custom_edit_url: null
---

Ƭ **ValidationResult**: `Object`

#### Type declaration

| Name | Type |
| :------ | :------ |
| `message?` | `string` |
| `valid` | `boolean` |

#### Defined in

onekijs/packages/onekijs-framework/src/form/typings.ts:181
